{% extends 'main/main_file.html' %}

{% block title_block %}Остальное{% endblock %}

{% block content %}
    <div class="block_title_class">
        <h1 class="title_of_page">Остальное</h1>
    </div>
    <div class="all_tovars_div">
        {% for el in tovars_on_main_by %}
        {% if el.tema == 'Остальное' %}
        <div class="maindivtovar">
        <div class="divindivmagazinforlook">
                <a href="{% url 'tovars_details' el.id %}">
                <div class="divindivab divindivab2">

                    <h3 id="titletovar" class="">{{ el.title }}</h3>
              {% if el.price != "" and price_on_of.price_on_of == 'Включить цены' %}
                    <h2 style="--grivn:'₴'" class="price_class">{{ el.price }}</h2>
                {% else %}
                    <h2 style="--grivn:''" class="price_class"></h2>
                {% endif %}
            <div class="all_tovars_div_img">
                {% if tovars.photo_1 != "" %}
                    <img src="{{ el.photo_1 }}">
                {% endif %}
        </div>

                </div>
                </a>
              </div>
        </div>
        {% endif %}
        {% endfor %}



        </div>
{% endblock %}